[submodule "external/juntos"]
	path = external/juntos
	url = https://github.com/nmstory/juntos
[submodule "external/prometheus-cpp"]
	path = external/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
